 div#content {
    margin: 0 auto;
    width: 600px;
    height: 562px;
    /* padding: 0 20px 0 200px; */
  }
  
  .resposta-style-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: brown;
    background-color: transparent;
    width: 50px;
    height: 50px;
    padding: 5px 5px 5px 5px;
    border-color: brown;
    border-radius: 3px;
    margin-top: 3px;
}

.resposta-style-button:hover {
    background-color: brown;
    border-color: darkgoldenrod;
    color: white;
}

.palavras {
    width: 89%;
    height: 100px;
    color: white;
    background-color: brown;
    text-align: center;
    border-radius: 3px;
    /* padding-top: 5px; */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: brown;
      text-align: center;
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      z-index: 2;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .btn {
    color: white;
    background-color: brown;
    width: 200px;
    border-color: white;
    border-radius: 5px; 
}

.btn:hover {
    border-color: darkgoldenrod;
}

.style-palavras {
  color: green;
}
